body {
  background-image: url('http://i63.tinypic.com/2dagj7q.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px 0 5px 20px;
}

.link {
  color: #fff;
  padding: 0 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  color: #b14e87;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 0 40px 0 0;
  font-weight: bold;
}


/* HERO */

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(27,13,39,0.5), rgba(27,13,39,0.5)), url(http://i65.tinypic.com/11lscy8.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0px;
}

.hero h1 {
  font-size: 6em;
  text-align: center;
  color: #e9e7ea;
  text-shadow: 4px 4px 8px #b14e87;
  font-family: 'Fira Sans', sans-serif;
}


/* SELLING POINTS */

.selling-points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.point {
  background-color: #e9e7ea;
  width: 30%;
  margin-bottom: 10px;
  margin-top: 20px;
  height: 250px;
  border-radius: 15px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.icon {
  font-size: 75px;
  margin-top: 0px;
  color: #b14e87;
  text-shadow: 2px 2px 4px #2a163b;
}


/* LIBRARY */

.library {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.library-info-text {
  color: #e9e7ea;
}

.library-info-text:hover {
  text-decoration: none;
}


/* ALBUM */

.album-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#album-cover-art {
  width: 30%;
  height: 30%;
}

.album-details {
  color: #fff;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  text-shadow: 1px 1px 2px #000;
  margin-left: 150px;
}

.album-details h1 {
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 20px;
  border-collapse: collapse;
  width: 70%;
  height: 250px;
  text-align: center;
  vertical-align: center;
  margin-top: 20px;
}

tr.song {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

tr:hover{
  background-color: rgba(255,255,255,0.2);
  text-align: center;
}

td {
  padding: 20px;
}

.icon-2 {
  color: pink;
}


/* PLAYER BAR */

.player-bar {
  background-color: rgba(42,22,59,0.5);
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ion {
  color: white;
  padding: 5px;
}

#volume-control {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#time-control {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

#buttons {
  padding: 10px;
}

button {
  background: none;
  border: none;
  color: #b14e87;
  text-shadow: 2px 2px 4px #2a163b;
  font-size: 28px;
  outline: none;
}

input[type='range']{
  -webkit-appearance: none;
  background-color: pink;
  height: 6px;
  width: 170px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

input[type='range']:focus{
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}
